<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.css">

</head>

<body style="background: url('/static/images/background2.jpg');background-size:cover;background-repeat:no-repeat">
    <div class='container'>
        <div class="jumbotron">
            <h1>welcome to blogger</h1><br>
            <h6 style="opacity: 0.7">&nbsp;With us you can enjoy your boring and depressed life.</h6><br><br>
            <a href="/api/login" style="float:right" class='btn btn-primary'>Login</a>
            <a href="/api/register" style="float:left" class='btn btn-danger'>Register</a>
        </div>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
</body>

</html>