<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">

</head>

<body>
    <div class='container'>
       
            <div style="width:20%;margin:auto;background:white;opacity:0.8;text-align:center"><b><%= error %></b></div>
            <form action="/api/login" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><b>Email address:</b></label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1"><b>Password:</b></label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-danger" style="float:right">Submit</button>
                    <a href="/" class="btn btn-secondary" style="float:left">Back</a><br>
                  </form>
    </div>
    
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
</body>
</html>