<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/main2.css">

</head>

<body>
    <div class='container'>
        <form action="/api/register" method="POST">
            <div class="form-group">
                <label for="First_Name"><b>Firstname:</b></label>
                <input type="text" name="firstname" class="form-control" placeholder="Enter firstname">
            </div>

            <div class="form-group">
                <label for="lastname"><b>Lastname:</b></label>
                <input type="text" name="lastname" class="form-control" placeholder="Enter lastname">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Email address:</b></label>
                <input type="email" name="email" class="form-control" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Age:</b></label>
                <input type="number" name="age" class="form-control" placeholder="Age">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1"><b>Password:</b></label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div><br>
            <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
            <a href="/" class="btn btn-secondary" style="float:left">back</a><br>
        </form>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
</body>

</html>