body{
    background:url('images/background2.jpg');
    background-size: cover;
}

form{
    margin-top:5%;
    width:60%;
    margin-right:20%;
    margin-left:20%;
    opacity: 0.9;
    border-radius:10px;
    padding:40px;
    background: white;
}